@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Scripts/KendoSchedular/Content/CSS/examples-offline.css" rel="stylesheet" />
    <link href="~/Scripts/KendoSchedular/Content/CSS/kendo.common.min.css" rel="stylesheet" />
    @*<link href="~/Scripts/KendoSchedular/Content/CSS/kendo.dataviz.default.min.css" rel="stylesheet" />*@
    @*<link href="~/Scripts/KendoSchedular/Content/CSS/kendo.dataviz.min.css" rel="stylesheet" />*@
    <link href="~/Scripts/KendoSchedular/Content/CSS/kendo.default.min.css" rel="stylesheet" />
    @*<link href="~/Styles/Grid/kendo.silver.min.css" rel="stylesheet" />To be remove*@
    @*<link href="~/Scripts/KendoSchedular/Content/CSS/kendo.rtl.min.css" rel="stylesheet" />*@

    
    <script src="~/Scripts/KendoSchedular/Content/JS/jquery.min.js"></script>
    <script src="~/Scripts/KendoSchedular/Content/JS/kendo.all.min.js"></script>    
    <script src="~/Scripts/KendoSchedular/Content/JS/RosterResourceAllocation.js"></script>

</head>
<body>

   <div style="text-align:center"><br /><h1>Resource Allocation</h1></div>
    <div id="example" class="k-content">
        <div id="scheduler"></div>
    </div>
    


</body>
</html>
