<div id="divbody" style="height:auto">
    <section id="UnInvoicedAWBForm">
        <div id='MainDiv'>
            <div id='ApplicationTabs'>
                <div id='ApplicationTabs-1'>
                    <table class='WebFormTable' id='tbl' validateonsubmit=true>
                        <tr><td class='formSection' colspan='4'>Un Invoiced AWB Report</td></tr>
                        <tr class="DateWiseRow">
                            <td class='formlabel' title='Airline'>
                                <font color='red'>*</font><span id='spnAirline'>
                                   Airline :  
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("Airline")
                                @Html.TextBox("Text_Airline", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Airline Name can not be blank", style = "width:200px;" })
                            </td>
                            <td class='formlabel' title='GSAname'>
                                <font color='red'>*</font><span id='spnGSAname'>
                                   GSA name :
                                </span>
                            </td>
                            <td class='formInputcolumn'>
                                @Html.Hidden("GSAnames")
                                @Html.TextBox("Text_GSAnames", null, new { data_valid = "required", controltype = "autocomplete", data_role = "autocomplete", data_valid_msg = "Office Name can not be blank", style = "width:200px;" })
                            </td>
                        </tr>
                        <tr>
                            <td class='formlabel'>
                                <form id="UnInvoicedAWBToExcel" action="../UnInvoiceAwbReport/ExportToExcel" method="post">
                                    <input id="Airline" type="hidden" name="Airline" value="" />
                                    <input id="GSAnames" type="hidden" name="GSAnames" value="" />
                                    <div style="float:left; display: block;">
                                        <img id="imgexcel" src="../Images/IconExcel.png" style="width:30px;height:30px;cursor: pointer" title="Export To Excel" onclick="ExportToExcel()" />
                                    </div>
                                </form>
                            </td>
                            <td class='formInputcolumn' title='Search'>
                                <input type='submit' name='operation' onclick="UnInvoicedAWBData()" value='Search' id="btnFilterData" class='btn btn-success btnSearch' />
                            </td>
                            <td class='formlabel'></td>
                            <td class='formlabel'></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div><br /><br /></div>
            <div>
                <div id="grid" style="font-size:11px;"></div>
                <form method="post" name="aspnetForm" id="aspnetForm"></form>
                <script src="~/JScript/Report/UnInvoiceAwbReport.js"></script>
            </div>
        </div>
    </section>
</div>