@{   
    Page.Title = "Delivery Order";
    <table width="100%">
        <tbody>
            <tr>
                <td width="10%"></td>
                <td width="15%"></td>
                <td width="35%"></td>
                <td width="20%"></td>
                <td width="20%"></td>
            </tr>
        </tbody>
        <tr>
            <td>
                <b style="font-size:large">Garuda Indonesia</b>
            </td>        
       <td colspan ="3"></td>
            <td></td>
            </tr>
        <tr><td colspan="5">&nbsp;</td></tr>
        <tr><td colspan="5" align="center"><b>Delivery Order</b></td></tr>
        <tr>
            <td rowspan="3" valign="top">To:</td>
            <td>Customs Department</td>
            <td>&nbsp;</td>
            <td rowspan="3" valign="top">Do No.</td>
            <td style="border: 1px solid;" rowspan="3"><label id="lblDoNo"></label></td>
        </tr>
        <tr>            
            <td>Sharjah International Airport</td>
        </tr>
        <tr>
            <td>Sharjah</td>
        </tr>
   <tr>    
       <td colspan="3" valign="bottom">The Consignment listed below is to be cleared for delivery to:</td>
       <td>Date</td>
       <td height="64px"  style="border: 1px solid; "><label id="lblDate"></label></td>
   </tr>
   <tr>
       <td>Consignee</td>
       <td colspan="4" style="border: 1px solid" height="64px">
           <label id="lblConsignee"></label>
       </td>
   </tr>
        <tr>
            <td>Notify</td>
            <td colspan="4" style="border: 1px solid" height="64px">
                <label id="lblNotify"></label>
            </td>
        </tr>
        <tr><td colspan="5">&nbsp;</td></tr>
        <tr style="text-align:center">
            <td colspan="2">
                Air Waybill No. 
            </td>
            <td colspan="2">&nbsp;</td>
            <td rowspan="2">
                <table width="100%">
                    <tr>
                        <td>CC/PP</td>
                        <td>Rct.No./Date</td>
                    </tr>
                    <tr>
                        <td style="border:1px solid; width: 10px" height="64px">
                            <label id="lblCcPp"></label>
                        </td>
                        <td style="border:1px solid; " height="64px">
                            <label id="lblRctNo"></label>
                        </td>
                    </tr>
                </table>
            </td>          
        </tr>
        <tr>
            <td style="border: 1px solid" height="64px" colspan="2">
                <label id="lblAirwaybillNo"></label>
            </td>
            <td colspan="2">&nbsp;</td>           
        </tr>
        <tr><td colspan="5">&nbsp;</td></tr>
        <tr style="text-align:center">
            <td>Pcs</td>
            <td>Gross Wt.</td>
            <td colspan="2">Description of Goods</td>
            <td>Flight Details</td>
        </tr>
        <tr>
            <td style="border: 1px solid" height="64px">
                <label id="lblPcs"></label>
            </td>
            <td style="border: 1px solid">
                <label id="lblGrossWt"></label>
            </td>
            <td style="border:1px solid" colspan="2">
                <label id="lblGoods"></label>
            </td>
            <td style="border: 1px solid">
                <label id="lblFlightDetails"></label>
            </td>
        </tr>
        <tr>
            <td colspan="5">REMARKS</td>           
        </tr>
        <tr>
            <td colspan="5" style="border: 1px solid" height="64px">
                <label id="lblRemarks"></label>
            </td>
        </tr>
        <tr><td colspan="5">If Shipment not cleared due to any reason,SAS will not be resposible for returned Cargo unless "RECEIVED" stamped and signed by Delivery Staff.</td></tr>
        <tr><td colspan="5">&nbsp;</td></tr>
        <tr><td colspan="5" align="center">INVOICE</td></tr>
        <tr><td colspan="5">&nbsp;</td></tr>
        <tr style="text-align:center">
            <td colspan="3"> Particulars</td>
            <td colspan="2"> Amount(IDR)</td>
        </tr>
        <tr>
            <td colspan="3" style="border: 1px solid" height="128px">
                <label id="lblParticulars"></label>
            </td>
            <td colspan="2" style="border: 1px solid">
                <label id="lblAmount"></label>
            </td>

        </tr>
        <tr>
            <td colspan="3" align="right"><b>TOTAL</b></td>
            <td colspan="2" style="border: 1px solid" rowspan="2">
                <label id="lblTotal"></label>
            </td>
        </tr>
        <tr>
            <td colspan="3" style="color:gray"><b>All Vehicles carrying cargo must exit only through <br/>
                Customs at the Main Gate of Freight Centre**
                </b></td>
        </tr>
        <tr><td colspan="5">&nbsp;</td></tr>
        <tr><td colspan="5">&nbsp;</td></tr>
        <tr>
            <td colspan="2"><hr /></td>
            <td>&nbsp;</td>
            <td colspan="2"><hr /></td>
        </tr>
        <tr style="text-align:center">
            <td colspan="2"><b>Name & Signature</b></td>
            <td>&nbsp;</td>
            <td colspan="2">Staff</td>
        </tr>
    </table>
   
}


