@{  
    Page.Title = "Physical Delivery Slip";
    <table width="100%">
        <tbody>
            <tr>
                <td width="10%"></td>
                <td width="20%"></td>
                <td width="30%"></td>
                <td width="20%"></td>
                <td width="20%"></td>
            </tr>
            <tr>
                <td colspan="4" align="center">
                    <b>Garuda Indonesia</b>
                </td>   
                <td rowspan="10">&nbsp;</td>           
            </tr>
            <tr>
                <td colspan="4" align="center">
                  Physical Delivery Slip
                </td>   
            </tr>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <td align="right">Date:</td>
                <td><label id="lblDate"></label></td>
                <td align="right">Staff:</td>
                <td><label id="lblStaff"></label></td>
            </tr>
            <tr>
                <td align="right">Time:</td>
                <td><label id="lblTime"></label></td>
                <td align="right">WHS:</td>
                <td><label id="lblWHS"></label></td>
            </tr>
            <tr><td colspan="5"> <hr style="border-style:dashed;" /></td></tr>
            <tr>
                <td align="right">PDS No:</td>
                <td><label id="lblPDS"></label></td>
                <td align="right">PDS Date & Time:</td>
                <td><label id="lblPdsDate"></label></td>
            </tr>
            <tr>
                <td align="right">DO No:</td>
                <td><label id="lblDoNo"></label></td>
                <td align="right">D/O Date:</td>
                <td><label id="lblDoDate"></label></td>
            </tr>
            <tr>
                <td align="right">Awb No:</td>
                <td><label id="lblAwbNo"></label></td>
                <td align="right">Hawb No:</td>
                <td><label id="lblHawbNo"></label></td>
            </tr>
            <tr>
                <td align="right">Consignee:</td>
                <td><label id="lblConsignee"></label></td>
                <td align="right">Nature of Goods:</td>
                <td><label id="lblNOG"></label></td>
            </tr>
            <tr><td colspan="5"> <hr style="border-style:dashed;" /></td></tr>
        </tbody>
        <tr style="text-align:center">
            <td>Cargo Type</td>
            <td>Pieces</td>
            <td>Weight Delivery to</td>
            <td>Date</td>
            <td>User</td>
        </tr>
        <tr>
            <td><label id="lblCargoType"></label></td>
            <td><label id="lblPieces"></label></td>
            <td><label id="lblWeightDeliveryTo"></label></td>
            <td><label id="lblDate"></label></td>
            <td><label id="lblUser"></label></td>
        </tr>
        <tr><td colspan="5">&nbsp;</td></tr>
        <tr>
            <td> PDS Remarks :</td>
            <td><label id="lblRemarks"></label></td>
            <td colspan="3"></td>
        </tr>
        <tr><td colspan="5">&nbsp;</td></tr>
        <tr><td colspan="5">ALL PIECES RECEIVED IN GOOD ORDER AND CONDITION BY CONSIGNEE AS PER THE CONTRACT OF CARRIAGE. </td></tr>
        <tr><td colspan="5"> <hr style="border-style:dashed;" /></td></tr>
        <tr><td colspan="5" align="center"> To be filled manually</td></tr>
        <tr>
            <td colspan="2" align="right">Date:</td>
            <td><label id="lblManuallyDate"></label></td>
            <td align="right">SAS Staff Name:</td>
            <td><label id="lblStaffName"></label></td>
        </tr>
        <tr>
            <td colspan="2" align="right">Vehicle No:</td>
            <td><label id="lblVehicleNo"></label></td>
            <td align="right">Date:</td>
            <td><label id="lblStaffDate"></label></td>
        </tr>
        <tr>
            <td colspan="2" align="right">Cnee Name (In Block)</td>
            <td><label id="lblCneeName"></label></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2" align="right">Tel No:</td>
            <td><label id="lblTelNo"></label></td>
            <td align="right">Signature:</td>
            <td><label id="lblSignature"></label></td>
        </tr>
        <tr>
            <td colspan="2" align="right">Signature</td>
            <td><label id="lblSignature2"></label></td>
            <td align="right">Stamp</td>
            <td><label id="lblStamp"></label></td>
        </tr>
        <tr><td colspan="5">&nbsp;</td></tr>
        <tr><td colspan="5">&nbsp;</td></tr>
        <tr><td colspan="2" rowspan="2">&nbsp;</td>
        <td colspan="3" style="font-size:small"><b>Garuda Indonesia</b></td>
        </tr>
        <tr>
            <td colspan="3" style="font-size:small" align="center">Cheques to be made in favour of : Garuda Indonesia</td>
        </tr>
 </table>
 }

