<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CargoFlash.Cargo.DataService.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGTGetBills" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://www.portal.sharjahcustoms.gov.ae/GTGetBillInfo/GTGetBills.svc"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGTGetBills"
          contract="IGTGetBills" name="BasicHttpBinding_IGTGetBills" />
      <endpoint address="http://192.168.2.45/sasprelivecra/PresentationLayer/Admin/Account/Public/WebServiceCIMPMessageGeneration.asmx"
            binding="basicHttpBinding" bindingConfiguration="WebServiceCIMPMessageGenerationSoap"
            contract="WebServiceCIMPMessageGenerationSoap" name="WebServiceCIMPMessageGenerationSoap" />
    </client>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="CargoFlash.Cargo.DataService.DataHelperService">
        <endpoint address="" binding="wsHttpBinding" contract="CargoFlash.Cargo.DataService.IDataHelperService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/CargoFlash.Cargo.DataService/DataHelperService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.ZoneService">
        <endpoint address="" binding="wsHttpBinding" contract="CargoFlash.Cargo.DataService.IZoneService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/CargoFlash.Cargo.DataService/ZoneService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.Reports.SpaceAllocationReportService">
        <endpoint address="" binding="wsHttpBinding" contract="CargoFlash.Cargo.DataService.Reports.ISpaceAllocationReportService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8732/Design_Time_Addresses/CargoFlash.Cargo.DataService.Reports/SpaceAllocationReportService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.Irregularity.Service1">
        <endpoint address="" binding="basicHttpBinding" contract="CargoFlash.Cargo.DataService.Irregularity.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CargoFlash.Cargo.DataService.Irregularity/Service1/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.Irregularity.IrregularityService">
        <endpoint address="" binding="basicHttpBinding" contract="CargoFlash.Cargo.DataService.Irregularity.IIrregularityService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CargoFlash.Cargo.DataService.Irregularity/IrregularityService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.Inventory.IssueConsumablesService">
        <endpoint address="" binding="basicHttpBinding" contract="CargoFlash.Cargo.DataService.Inventory.IIssueConsumablesService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CargoFlash.Cargo.DataService.Inventory/IssueConsumablesService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.Inventory.ReturnConsumableService">
        <endpoint address="" binding="basicHttpBinding" contract="CargoFlash.Cargo.DataService.Inventory.IReturnConsumableService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CargoFlash.Cargo.DataService.Inventory/ReturnConsumableService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.EDI.EventMasterService">
        <endpoint address="" binding="basicHttpBinding" contract="CargoFlash.Cargo.DataService.EDI.IEventMasterService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CargoFlash.Cargo.DataService.EDI/EventService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.EDI.EventMessageTransService">
        <endpoint address="" binding="basicHttpBinding" contract="CargoFlash.Cargo.DataService.EDI.IEventMessageTransService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CargoFlash.Cargo.DataService.EDI/EventMessageTransService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.EDI.RecipientMsgConfigService">
        <endpoint address="" binding="basicHttpBinding" contract="CargoFlash.Cargo.DataService.EDI.IRecipientMsgConfigService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CargoFlash.Cargo.DataService.EDI/RecipientMsgConfigService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.Warehouse.AreaService">
        <endpoint address="" binding="basicHttpBinding" contract="CargoFlash.Cargo.DataService.Warehouse.IAreaService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CargoFlash.Cargo.DataService.Warehouse/AreaService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.Accounts.CreditDebitNoteService">
        <endpoint address="" binding="basicHttpBinding" contract="CargoFlash.Cargo.DataService.Accounts.ICreditDebitNoteService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CargoFlash.Cargo.DataService.Accounts/CreditDebitNoteService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.Shipment.UldHandOverService">
        <endpoint address="" binding="basicHttpBinding" contract="CargoFlash.Cargo.DataService.Shipment.IUldHandOverService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CargoFlash.Cargo.DataService.Shipment/UldHandOverService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.Inventory.Service1">
        <endpoint address="" binding="basicHttpBinding" contract="CargoFlash.Cargo.DataService.Inventory.IService1">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CargoFlash.Cargo.DataService.Inventory/Service1/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.Inventory.InventoryItemService">
        <endpoint address="" binding="basicHttpBinding" contract="CargoFlash.Cargo.DataService.Inventory.IInventoryItemService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CargoFlash.Cargo.DataService.Inventory/InventoryItemService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.Rate.AgentRouteService">
        <endpoint address="" binding="basicHttpBinding" contract="CargoFlash.Cargo.DataService.Rate.IAgentRouteService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CargoFlash.Cargo.DataService.Rate/AgentRouteService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.Rate.AgentGroupService">
        <endpoint address="" binding="basicHttpBinding" contract="CargoFlash.Cargo.DataService.Rate.IAgentGroupService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CargoFlash.Cargo.DataService.Rate/AgentGroupService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.SpaceControl.FreightBookingListService">
        <endpoint address="" binding="basicHttpBinding" contract="CargoFlash.Cargo.DataService.SpaceControl.IFreightBookingListService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CargoFlash.Cargo.DataService.SpaceControl/FreightBookingListService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="CargoFlash.Cargo.DataService.Stock.IssueDistributedStocktoSubBranchService">
        <endpoint address="" binding="basicHttpBinding" contract="CargoFlash.Cargo.DataService.Stock.IIssueDistributedStocktoSubBranchService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8733/Design_Time_Addresses/CargoFlash.Cargo.DataService.Stock/IssueDistributedStocktoSubBranchService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
  <applicationSettings>
    <CargoFlash.Cargo.DataService.Properties.Settings>
          <setting name="CargoFlash_Cargo_DataService_ValidateEDIMessage_WebServiceValidateMsg"
        serializeAs="String">
        <value>http://gares.bookmycargo.net/edi/PresentationLayer/Admin/Account/Public/WebServiceValidateMsg.asmx</value>
      </setting>
    </CargoFlash.Cargo.DataService.Properties.Settings>
  </applicationSettings>
</configuration>