
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>NewBooking</title>
</head>
<body>
    <div> 
        @Html.Label("Name:")<br>
        @Html.TextBox("Name")

    </div>
</body>
</html>
