
@{
    ViewBag.Title = "OutStationUnbookedReport";
}


<script src="~/Scripts/jquery-ui-1.10.2.custom.min.js"></script>

@*<script src="~/JScript/Report/GetUnbookedShipmentDetail.js"></script>*@



<table class='WebFormTable' id='tbl' validateonsubmit=true>
    <tr><td class='formSection' colspan='10'>Unbooked OutStation Shipment Report </td></tr>
    <tr><td class='formlabel' colspan='10'><div class='MandatoryTextCss'><font color='red'>*</font> Mandatory Fields</div></td></tr>

    <tr class='formSection'>

        <td class="formlabel"><font color='red'>*</font>From Date</td>
        <td class="formInputcolumn">@Html.TextBox("Fromdate", DateTime.Now.ToString("dd-MMM-yyyy"), new { style = "width:34%", data_valid = "required", controltype = "datetype", data_role = "datepicker", data_valid_msg = "Select From Date", placeholder = "From Date" })</td>
        <td class="formlabel"><font color='red'>*</font>To Date</td>
        <td class="formInputcolumn">@Html.TextBox("Todate", DateTime.Now.ToString("dd-MMM-yyyy"), new { style = "width:34%", data_valid = "required", controltype = "datetype", data_role = "datepicker", data_valid_msg = "Select To Date", placeholder = "To Date" })</td>




    </tr>


    <tr class='formSection'>
        <td colspan='10'>
            @*<input type="button" name='SearchSave' value='Search' class='btn btn-success' id="btnSubmit" />*@
            @*<input type="button" name='ExcelVersionDetails' value='Export To Excel' class='btn btn-success' id="btnSubmit" src="../Images/IconExcel.png" />*@
            <div id="exportflight" style="margin-left: 68px;margin-top: -26px; display:none"><img id=" imgexcel" src="../Images/IconExcel.png" style="width:30px;height:30px;cursor: pointer;" title="Export To Excel" onclick="ExportToExcel_ClaimReport()" /></div>
        </td>
    </tr>


    <tr>
        <td class=' formlabel'>
            <div id="exportflight" style="float:left;">
                <img id="imgexcel" src="../Images/IconExcel.png" style="width:30px;height:30px;cursor: pointer" onclick="ExportToExcel()" title="Export To Excel" />
            </div>
        </td>
        <td class='formInputcolumn'>
            @*<input type='submit' name='operation' onclick="SearchPaymentStatusReport()" value='Search' id="btnSearch" class='btn btn-success btnSearch' />*@
            <input type='submit' name='operation' onclick="UnBookedOutStationShipmentSearch()" value='Search' id="btnSearch" class='btn btn-success btnSearch' />
            @*<input type='submit' name='operation' onclick="SearchFPRLionReport()" value='Search' id="btnSearch" class='btn btn-success btnSearch' />*@

            @*onclick="DownloadExcelReport()" name='operation'*@
        </td>
        <td class="formlabel"></td>
        <td class="formInputcolumn"></td>

    </tr>

</table>

<div id="example">
    <div id="grid" style="font-size:11px;"></div>
    <script src="~/JScript/Report/GetUnbookedOutStationShipmentDetails.js"></script>
    <script src="~/Scripts/jquery.appendGrid-1.3.2.js"></script>


</div>
<div id='divCreditLimitReport'>
    <span id='spnCreditLimitReport'>
        <input id='hdnPageType' name='hdnPageType' type='hidden' />
        <input id='hdnCreditLimitReportSNo' name='hdnCreditLimitReportSNo' type='hidden' />
        <table id='tblCreditLimitReport' Style='margin-top: 20px;'></table>
    </span>
</div>
